@use "@/assets/scss/abstracts" as *;

#guide-wrap {
  display: flex;
  flex-direction: column;
  flex: 1;

  #guide-container {
    display: flex;
    flex-direction: row;
    flex: 1;
    padding-left: 250px;

    .guide-aside {
      position: fixed;
      left: 0;
      top: 0;
      z-index: 2;
      width: 250px;
      height: 100%;
      padding: 80px 15px 20px;
      background-color: #ecf5ff;
      overflow-y: auto;

      .logo {
        position: fixed;
        left: 0;
        top: 0;
        z-index: 3;
        width: 250px;
        padding: 10px 15px 15px;

        .h1 {
          color: #fff;
          font-size: 20px;
          font-weight: 400;
          padding: 10px 10px;
          margin-bottom: 0;
          text-align: center;
          border-radius: 6px;
          background-color: #0071f2;
        }
      }

      .guide-gnb {
        .li {
          .tit {
            font-size: 17px;
            color: #0059bf;
            font-weight: bold;
            margin-bottom: 10px;

            .span {
              color: #0071f2;
            }
          }

          .ul {
            @include flex($d: flex, $fd: column);
            padding: 20px;
            border-radius: 6px;
            border: 1px solid #eaeff5;
            background-color: #fff;
            > li {
              @include flex($d: flex,);
              a {
                flex: 1;
                &:focus {
                  font-weight: 700;
                }
              }
              &::before {
                display: inline-flex;
                content: '‧';
              }
              &:not(:first-child) {
                padding-top: 10px;
                margin-top: 10px;
                border-top: 1px dashed #ddd;
              }
            }
            li,
            a {
              color: #333;
              text-decoration: none;
              

              &:hover {
                color: #0071f2;
              }
            }
          }

          &:not(:first-child) {
            margin-top: 14px; 
          }
        }
      }

      ul {
        padding-left: 0;
      }
    }

    .guide-content {
      flex: 1;
      padding: 5px 40px 40px;
    }
  }

  .guide-tit1 {
    font-size: 32px;
    font-weight: 700;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
  }

  .guide-tit2 {
    color:#333;
    font-size: 26px;
    font-weight: bold;
    margin-top: 60px;
    &:first-of-type {
      margin-top: 0;
    }
  }

  .guide-tit3 {
    color:#444;
    font-size: 22px;
    font-weight: bold;
    margin-top: 18px;
  }

  .guide-tit4 {
    color: #444;
    font-size: 20px;
    font-weight: bold;
    margin-top: 18px;

    &::before {
      content: '-';
      margin-right: 4px;
    }
  }

  .guide-txtBox {
    padding: 14px;
    margin: 14px 0;
    border-radius: 6px;
    background-color: #f3f3f3;
  }

  .guideExBox {
    padding: 14px;
    margin: 14px 0;
    border-radius: 6px;
    border: 1px solid #f3f3f3;
    background-color: #fff;
  }
}

/* **** worksheet **** */
.work-tit {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: 700;
    min-width: 1440px;
    padding: 30px 10px 40px;
    text-align: center;
    .point {
        display: inline-flex;
        align-items: center;
        color: #0071f2;
        margin-right: 8px;
    }
    .logo {
        margin-top: -8px;
        margin-right: 4px;
    }
}

.work-anchor {
display: flex;
justify-content: space-between;
gap: 24px;
// @include flex($jc:space-between, $gap: 24px);
padding: 2px 10px;
margin:0 -10px;
text-align: right;
background-color: #fff;
.left {
display: flex;
align-items: center;
gap: 8px;
// @include flex($ai:center);
.q-separator--vertical {
  margin: 5px 10px;
}
.work-txt {
  font-size: 13px;
  color: #444;
  margin: 0;
}

a {
  &.btn-txt {
    // @include flex($ai:center, $gap:4px);
    display: inline-flex;
    align-items: center;
    gap: 4px;
    font-size: 13px;
  }
}
}

.right {
// @include flex;
display: flex;
}

.work-space {
height: 16px;
}

.btn-anchor {
display: inline-flex;
font-size: 13px;
color:#fff;
padding: 0 5px;
margin-bottom: 4px;
border-radius: 3px;
background-color: #00B3E3;
&:not(:first-child) {
  margin-left: 4px;
}
&.active {
  background-color: #000;
}
}
}

.work-head {
    position: sticky;
    top: 0;
    min-width: 1440px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #ccdae9;
    overflow: hidden;
    th {
        font-size: 14px;
        height: 40px;
        text-align: center;
    }
}

.workBody {
    min-width: 1440px;
    padding: 0 10px 10px;
}

.workTable {
    display: block;
    table {
        table-layout: fixed;
        width: 100%;
        th,
        td {
            font-size: 14px;
            font-weight: 400;
            height: 40px;
            padding: 10px;
        }
        thead {
            th {
                color: #fff;
                text-align: center;
                vertical-align: middle;
                border: 0;
                border-top: 2px solid #0958b5;
                background-color: #086fe3;
            }
        }
        tbody {
            counter-reset: list-number;
            tr {
                td {
                    font-weight: 400;
                    vertical-align: middle;
                    &:first-child {
                        counter-increment: list-number;
                        &:before {
                            content: counter(list-number);
                        }
                    }
                    &[data-status="완료"] {
                        color: #7546e5;
                    }
                }
                &.hr {
                    td {
                        border-top: 3px solid #cacaca;
                    }
                }
                &.bg1 {
                    background-color: #fbf8c5;
                }
                &.bg2 {
                    background-color: #f1f1f1;
                }
            }
            td {
                border: 1px solid #e1e2e4;
                &:nth-child(1),
                &:nth-child(8),
                &:nth-child(9),
                &:nth-child(10) {
                    text-align: center;
                }
                &:nth-child(2) {
                    font-weight: bold;
                }
                &:nth-child(9) {
                    color: #9a9a9a;
                    a {
                        color: #111;
                    }
                }
                .etcTxt {
                    display: flex;
                    align-items: flex-start;
                    gap: 7px;
                    &:not(:first-child) {
                        margin-top: 6px;
                    }
                }
                .date {
                    flex-shrink: 0;
                    font-size: 13px;
                    padding: 4px 6px;
                    border-radius: 4px;
                    background-color: #cfed90;
                }
                .date1 {
                    flex-shrink: 0;
                    font-size: 13px;
                    padding: 4px 6px;
                    border-radius: 4px;
                    background-color: #ed9090;
                }
                .txt {
                    display: inline-flex;
                    align-items: center;
                    min-height: 29px;
                }
                .link {
                    &:focus {
                        font-weight: 700;
                    }
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
        &.is-hidden {
            tbody {
                tr {
                    &.bg1 {
                        td {
                            display: none;
                        }
                    }
                    &.bg2 {
                        display: none;
                    }
                }
            }
        }
    }
}