/* **** 
 * NAME : North America CSS
 * DATE : 2025.05.03
 * AUTHOR : NSP-PUBLISH MEMBER
 **** */
@use "@/assets/scss/abstracts" as *;

/* ****** 3101 : STYLE ****** */
[data-theme='3101'] {
  /* **** 3101 :  variables **** */
  $sub-area-3101: 1472px; 
  $sub-area-3101-column4: 1476px; 
  $sub-area-3101-max-height : calc(100vh - 170px);



  /* **** header **** */  
  #header {
    border: 0;
    .head-top {
      position: relative;
      padding: 0;
      .inner {
        @include flex($jc:space-between);
        padding: 0 24px;
      }
    }

    .gnbWrap {
      position: inherit;
      height: 36px;
      padding: 0 8px;
      margin-top: 0;
      background-color: var(--Primary-color-Black);
      .gnb-in {
        width: $sub-area-3101;
        margin: 0 auto;
      }
      .gnb-nav {
        .menu-item {
          padding: 0;
          .menu-1depth {
            line-height: 36px;
            color: var(--Primary-color-White);
            height: 36px;
            padding: 0 40px;
            border: 0;
            &::after {
              display: none;
            }
            &.on,
            &.is-active {
              background-color: var(--Grayscale-7_55);
            }
          }
        }
      }
    }

    //sub nav : base
    [class ^= sub-nav-wrap] {
      left: 0;
      width: 100%;
      min-width: 1440px;
      max-width: 100%;
      background-color: var(--Primary-color-White);
      .sub-nav-in {
        width: $sub-area-3101;
        max-height: $sub-area-3101-max-height;
        margin: 0 auto;
        overflow-x: hidden;
        overflow-y: auto;
        @include scrollbar;
      }
      .sub-nav {
        display: inline-flex;
        gap: 24px;
        position: relative;
        padding: 16px 40px 40px 40px;
        .menu-2depth {
          margin-bottom: 12px;
          text-align: left;
        }

        .sub-list {
          gap: 8px;
        }
      }
      .sub-item {
        width: 330px;
      }
      &:has(.end) {
        text-align: right;
      }
    }

    //sub nav : type - default
    .sub-nav-wrap {
      .menu-2depth {
        font-size: 16px;
        color: var(--Grayscale-8_31);
        min-height: 24px;
        border: 0;
        a {
          &:hover {
            font-weight: 600;
            border: 0;
          }
        }
      }
      a {
        &.menu-2depth {
          font-size: 15px;
          font-weight: 300;
        }
      }
      .sub-nav {
        margin: 0 auto;
        .menu-2depth {
          a {
            border: 0;
          }
        }
        .sub-list {
          a {
            &:hover {
              font-weight: 600;
              border: 0;
            }
          }
          .li {
              min-height: 24px;
          }
        }
      }
      &.sub-nav4 {
        .sub-nav {
          display: flex;
          left:inherit !important;
          text-align: left;
          width: $sub-area-3101-column4;
        }
      }
      
    }

    //sub nav : type - vertical
    .sub-nav-wrap-vertical {
      .sub-nav {
        @include flex($d:inline-flex, $fd:column, $gap: 12px);
        .menu-2depth-vertical {
          gap: 8px;
          font-weight: 300;
          a {
            border: 0;
          }
          &:hover {
            font-weight: 600;
          }
        }
      }
    }
  }
}
